<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create your Task</h1>
    <form action="http://localhost:8090/create" method="post">
        <input type="text" placeholder="title" name="title">
        <input type="text" placeholder="duedate" name="duedate">
        <input type="text" placeholder="importance" name="importance">
        <button type="submit">Create Task</button>
    </form>
</body>
</html>