<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <a href="signup.ejs"><button type="submit">SIGNUP</button></a>
    <a href="login.ejs"><button type="submit">LOGIN</button></a>
</body>
</html>